rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /siteSettings/{docId} {
      allow read: if true;
      allow write: if false;
    }

    match /scheduleGames/{gameId} {
      allow read: if true;
      allow write: if false;
    }

    match /staff/{staffId} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
